.display-4 {
    font-weight: bold;
}

.jumbotron,
.card-header {
    background-color: rgb(53, 53, 100);
    opacity: .75;
    color: white;
}

button {
    background-color:#ff4f00;
}

.fa-search {
    color:#ff4f00;
}

.fa-plus-circle {
    color: white;
}

body {
    background-image: url(./SanFrancisco_0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#start,
#end,
#pref-input {
    width: 100%;
    margin-left: 5px;
    margin-right:5px;
}

#map {
    height: 50%;
    margin: auto;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
  height: 80%;
  width: 100%;
  padding: 10px;
}

.fa-map-marker {
    color:#ff4f00;
}